services:
  valkey-master:
    image: valkey/valkey:9.0
    container_name: valkey-master
    labels:
      org.springframework.boot.ignore: true
    ports:
      - 16379:16379
    environment:
      VALKEY_PORT: 16379
      HOST_IP: "${HOST_IP}"
    volumes:
      - ./conf:/tmp/conf
    sysctls:
      - net.core.somaxconn=65535
    command:
      - sh
      - -c
      - |
        mkdir -p /usr/local/etc/valkey/
        cp /tmp/conf/valkey.conf /usr/local/etc/valkey/
        sed -i "$$ a replica-announce-ip $${HOST_IP}" /usr/local/etc/valkey/valkey.conf
        valkey-server /usr/local/etc/valkey/valkey.conf
    healthcheck:
      test: "valkey-cli -p $${VALKEY_PORT} -a demo --raw incr ping"
      interval: 2s
      retries: 20
  valkey-replicas-1:
    image: valkey/valkey:9.0
    container_name: valkey-replicas-1
    labels:
      org.springframework.boot.ignore: true
    depends_on:
      - valkey-master
    ports:
      - 16380:16380
    environment:
      VALKEY_PORT: 16380
      HOST_IP: "${HOST_IP}"
    volumes:
      - ./conf:/tmp/conf
    sysctls:
      - net.core.somaxconn=65535
    command:
      - sh
      - -c
      - |
        mkdir -p /usr/local/etc/valkey/
        cp /tmp/conf/valkey.conf /usr/local/etc/valkey/
        sed -ir "s/^[#]*\s*port .*/port $${VALKEY_PORT}/" /usr/local/etc/valkey/valkey.conf
        sed -i "$$ a replicaof $${HOST_IP} 16379" /usr/local/etc/valkey/valkey.conf
        sed -i "$$ a replica-announce-ip $${HOST_IP}" /usr/local/etc/valkey/valkey.conf
        valkey-server /usr/local/etc/valkey/valkey.conf
    healthcheck:
      test: "valkey-cli -p $${VALKEY_PORT} -a demo --raw incr ping"
      start_period: 10s # wait for replicas sync
      interval: 2s
      retries: 20
  valkey-replicas-2:
    image: valkey/valkey:9.0
    container_name: valkey-replicas-2
    labels:
      org.springframework.boot.ignore: true
    depends_on:
      - valkey-master
    ports:
      - 16381:16381
    environment:
      VALKEY_PORT: 16381
      HOST_IP: "${HOST_IP}"
    volumes:
      - ./conf:/tmp/conf
    sysctls:
      - net.core.somaxconn=65535
    command:
      - sh
      - -c
      - |
        mkdir -p /usr/local/etc/valkey/
        cp /tmp/conf/valkey.conf /usr/local/etc/valkey/
        sed -ir "s/^[#]*\s*port .*/port $${VALKEY_PORT}/" /usr/local/etc/valkey/valkey.conf
        sed -i "$$ a replicaof $${HOST_IP} 16379" /usr/local/etc/valkey/valkey.conf
        sed -i "$$ a replica-announce-ip $${HOST_IP}" /usr/local/etc/valkey/valkey.conf
        valkey-server /usr/local/etc/valkey/valkey.conf
    healthcheck:
      test: "valkey-cli -p $${VALKEY_PORT} -a demo --raw incr ping"
      start_period: 10s # wait for replicas sync
      interval: 2s
      retries: 20
  sentinel-1:
    image: valkey/valkey:9.0
    container_name: valkey-sentinel-1
    labels:
      org.springframework.boot.ignore: true
    depends_on:
      - valkey-master
      - valkey-replicas-1
      - valkey-replicas-2
    ports:
      - 36379:36379
    environment:
      VALKEY_PORT: 36379
      HOST_IP: "${HOST_IP}"
    volumes:
      - ./conf:/tmp/conf
    sysctls:
      - net.core.somaxconn=65535
    command:
      - sh
      - -c
      - |
        mkdir -p /usr/local/etc/valkey/
        cp /tmp/conf/sentinel.conf /usr/local/etc/valkey/
        sed -ir "s/^[#]*\s*port .*/port $${VALKEY_PORT}/" /usr/local/etc/valkey/sentinel.conf
        sed -i "$$ a sentinel monitor test $${HOST_IP} 16379 2" /usr/local/etc/valkey/sentinel.conf
        sed -i "$$ a sentinel announce-ip $${HOST_IP}" /usr/local/etc/valkey/sentinel.conf
        valkey-sentinel /usr/local/etc/valkey/sentinel.conf
    healthcheck:
      test: "valkey-cli -p $${VALKEY_PORT} -a demo --raw incr ping"
      interval: 2s
      retries: 20
  sentinel-2:
    image: valkey/valkey:9.0
    container_name: valkey-sentinel-2
    labels:
      org.springframework.boot.ignore: true
    depends_on:
      - valkey-master
      - valkey-replicas-1
      - valkey-replicas-2
    ports:
      - 36380:36380
    environment:
      VALKEY_PORT: 36380
      HOST_IP: "${HOST_IP}"
    volumes:
      - ./conf:/tmp/conf
    sysctls:
      - net.core.somaxconn=65535
    command:
      - sh
      - -c
      - |
        mkdir -p /usr/local/etc/valkey/
        cp /tmp/conf/sentinel.conf /usr/local/etc/valkey/
        sed -ir "s/^[#]*\s*port .*/port $${VALKEY_PORT}/" /usr/local/etc/valkey/sentinel.conf
        sed -i "$$ a sentinel monitor test $${HOST_IP} 16379 2" /usr/local/etc/valkey/sentinel.conf
        sed -i "$$ a sentinel announce-ip $${HOST_IP}" /usr/local/etc/valkey/sentinel.conf
        valkey-sentinel /usr/local/etc/valkey/sentinel.conf
    healthcheck:
      test: "valkey-cli -p $${VALKEY_PORT} -a demo --raw incr ping"
      interval: 2s
      retries: 20
  sentinel-3:
    image: valkey/valkey:9.0
    container_name: valkey-sentinel-3
    labels:
      org.springframework.boot.ignore: true
    depends_on:
      - valkey-master
      - valkey-replicas-1
      - valkey-replicas-2
    ports:
      - 36381:36381
    environment:
      VALKEY_PORT: 36381
      HOST_IP: "${HOST_IP}"
    volumes:
      - ./conf:/tmp/conf
    sysctls:
      - net.core.somaxconn=65535
    command:
      - sh
      - -c
      - |
        mkdir -p /usr/local/etc/valkey/
        cp /tmp/conf/sentinel.conf /usr/local/etc/valkey/
        sed -ir "s/^[#]*\s*port .*/port $${VALKEY_PORT}/" /usr/local/etc/valkey/sentinel.conf
        sed -i "$$ a sentinel monitor test $${HOST_IP} 16379 2" /usr/local/etc/valkey/sentinel.conf
        sed -i "$$ a sentinel announce-ip $${HOST_IP}" /usr/local/etc/valkey/sentinel.conf
        valkey-sentinel /usr/local/etc/valkey/sentinel.conf
    healthcheck:
      test: "valkey-cli -p $${VALKEY_PORT} -a demo --raw incr ping"
      interval: 2s
      retries: 20